 h1{
    text-align: center;
 }

#login-form{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

 #login {
    border-radius: 20px;
     width: 100px;
     height: 30px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login:hover {
    background-color: darkslategray;
}