body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

#fashionProducts {
    display: grid;
    grid-template-columns: repeat(5,2fr);
    justify-content: center;
    /* gap: 10px; */
    margin: 20px;
}

.product {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    font-size: 1.2rem;
    color: #333;
}

.product p {
    color: darkolivegreen;
    font-size: 0.9rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
